{% extends 'base.html' %}

{% block title %}
    Информация
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-5 text-center">Добро пожаловать в Blog!</h1>
        <hr>
        <div class="d-flex justify justify-content-center mb-5 flex-column mt-5 text-justify pl-5 pr-5">
            <h4>Данное приложение представляет собой текстовый блог, в котором пользователи могут делиться
                своими идеями и мыслями. Просматривать ленту могут все пользователи, однако, чтобы разместить пост вам
                необходимо зарегистрироваться или авторизоваться с помощью вашей учетной записи. Более того,
                авторизованные пользователи могут перенести свои некоторые посты в архив, чтобы они не отображались
                в ленте. Архивированные записи можно восстановить или удалить окончательно без возможности
                восстановления.</h4>
        </div>
    </div>
{% endblock %}