{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <body>
    <div class="container">
        <form method="post" class="form-register">
            {{ form.hidden_tag() }}
            <h2 class="mb-3"> Вход в аккаунт </h2>

            {{ form.login.label() }}
            {{ form.login(class="form-control", placeholder="Логин") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Пароль") }}


            <br>

            <div>
                <h6> Еще не зарегистрированы?</h6>
                <a href="{{ url_for('register_page') }}">Зарегистрируйтесь прямо сейчас!</a>

            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-warning") }}

        </form>
    </div>
    </body>
{% endblock %}